html { font-size: 16px; }
body { font-size: 62.5%; font-family: "Helvetica Neue", Arial, sans-serif; color: #333; background: white; overflow: hidden; }


#navigation { float: left; width: 20%; overflow: hidden;
  #search { padding: 4px; background: #e8e8e8; border-bottom: 1px solid #ddd; border-right: 1px solid #aaa; }
  
  #static-list { overflow: auto; overflow-x: hidden; font-size: 1.3em; border-right: 1px solid #aaa;
    li.category { border-bottom: 1px solid #ddd;
      span { background: url(../images/arrow.png) 5px 5px no-repeat #eee; padding: 7px 0 7px 25px; display: block; cursor: pointer; }
      ul { display: none; }
    }
    li.category:hover span { color: #111; background-position: 5px -15px; }
    li.open span { background-position: 5px -35px; }
    li.open:hover span { background-position: 5px -35px; }
    
    li.sub { background: white; padding: 5px 0 5px 0;
      a { text-decoration: none;
        span { background: none; margin: 0; padding: 0 0 0 25px; }
        span.searchable { color: #333; }
        span.desc { color: #aaa; font-size: 0.8em; width: 30000px; overflow: hidden; margin-top: 4px; min-height: 12px; }
      }
    }
    li.sub:hover { background: #dfdfdf; }
    li.odd { background: #edf3fe; }
  }
}


#content { float: left; width: 80%; overflow: auto; }