html { font-size: 16px; }
body { font-size: 62.5%; font-family: "Helvetica Neue", Arial, sans-serif; color: #333; background: white; overflow: hidden; }


#navigation { float: left; width: 22%; overflow: hidden;
  #search { padding: 4px; background: #e8e8e8;
    #search-field {  }
  }
  
  #static-list { overflow: auto; }
}


#content { float: left; width: 78%; overflow: auto; background: red; }

/*width: 100%;
           box-sizing: border-box;
           -moz-box-sizing: border-box;
           -webkit-box-sizing: border-box;
           
           -webkit-appearance: searchfield;
           height: 22px;
           //height: auto;*/