body
  height: 100%
  background: yellow
  display: flex

ul.categories
  li.category
    cursor: pointer
    
    > ul.categories, > ul.entries
      display: none
    
    &.active
      > ul.categories, > ul.entries
        display: block
