body
  height: 100%
  display: flex

#navigation
  width: 20%
  float: left

  ul.categories
    li.category
      cursor: pointer
      
      > ul.categories, > ul.entries
        display: none
      
      &.active
        > ul.categories, > ul.entries
          display: block

#content
  width: 80%
  float: left
